.page-center{
	max-width: 1500px;
	margin: 3% auto;
}
.form-gmap{
	display: flex;
	flex-wrap: wrap;
}
.form-field{
	flex-grow: 1;
	margin: 0 0.5% 0 0;
}

#map{
	height: 600px;
}

.output-fields{
	max-width:1500px;
	margin: 3% auto;
	display: flex;

}

.errormessage{
	color: red;
	width: 100%;
	margin-bottom: 0;
}

.map-output{
	width: 50%;
	background: #eee;
	margin-right: .5%;
}

.embed-output{
	width: 50%;
	background: #eee;
}

xml{
	padding: 3%;
}